body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/* Header */
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logo {
    grid-area: logo;
    height: 45px;
    width: 97px;
}

.nav {
    display: flex;
    grid-area: navbar;
}

.navlink {
    padding: 35px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navlink:hover {
    color: #0065fc;
}

.signup {
    grid-area: button;
    padding: 35px;
    color: #0065fc;
    font-weight: 600;
}

a {
    color: #000;
    text-decoration: none;
}

/* Responsive header */
@media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }

    .logo {
        padding: 0 0;
    }

    .navlink:hover {
      border-top: 3px solid #0065fc;
    }
}
    
@media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
   
    .navlink {
      border-bottom: 3px solid #f2f2f2;
      width: 100%;
    }

    .logo {
        padding: 0 35px;
        }
  
    .navlink:hover {
      border-bottom: 3px solid #0065fc;
    }
  }

/* Main */

.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 16px;
}
     /* Main title */
    .main_title_1 {
        font-size: 20px;
        margin: 0 0;
    }

    .main_subtitle {
        margin: 10px 0;
    }

    h1 {
        font-weight: bold;
    }

    /* Main search */

    .main_search {
        display: inline-flex;
        margin-top: 16px;
    }    

    .map_marker_icon {
        background-color: #f2f2f2;
        padding: 16px 20px;
        border-radius: 16px 0 0 16px;
    }
    
    .input_search {
        border-right: none;
        border-left: none;
        border-top: #f2f2f2 1px solid;
        border-bottom: #f2f2f2 1px solid;
        padding: 16px 20px;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
      }

      .button_search {
        background-color: #0065fc;
        color: #ffff;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding: 16px 20px;
        cursor: pointer;
    }


    /* Search icon responsive*/
    @media screen and (min-width: 601px) {
        .form_icon {
            display: none;
        }
        .button_search {
            border-radius: 0 16px 16px 0;
        }
        .input_search {
            width: 200px;
        }
    }
    @media screen and (max-width: 600px) {
        .main_search {
            width: 100%;
        }
        .input_search {
            width: 100%;
        }
        .text_search {
            display: none;
        }
        .button_search {
            border-radius: 16px 16px 16px 16px;
        }
    }
   
    /* Main filter */
    .main_filter {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 16px;
    }


    .title_filter {
        margin-right: 24px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .buttons_filter {
        display: flex;
        align-items: center;
        margin-right: 16px;
        margin-bottom: 16px;
        border: 2px solid #d9d9d9;
        border-radius: 32px;
        font-weight: bold;
        cursor: pointer;
    }
   
    .buttons_filter:hover {
        background-color: #f3f8ff;
        transform: scale(1.02);
      }

    .icons_filter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px; 
        width: 48px;
        border-radius: 32px;
        background-color: #deebff;
        cursor: pointer;
    }  

    .icon_m {
        color: #0065fc;
    } 

    .buttons_description {
        margin: 0 16px;
    }   

        /* Main number result */
        .number_result {
            display: flex;
            align-items: center;
        }
    
        .icon_result {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            border: solid 1px #deebff;
            margin-right: 16px;
          }
    
          .icon_result_m {
            color: #0065fc;
          }
    
        /* Main hostings */
        #main_hostings {
            display: grid;
            column-gap: 40px;
            grid-template-columns: 2fr 1fr;
        }
            /* Hostings */
            .hostings, .hostings_popular {
                background-color: #f2f2f2;
                border-radius: 24px;
                padding: 40px;
            }

            .hostings_articles {
                display: grid;
                column-gap: 32px;
                row-gap: 32px;
                grid-template-columns: 1fr 1fr 1fr;
            }

                 /* Article */
                 .hostings_card {
                    background-color: #fff;
                    padding: 6px;
                    border-radius: 20px;
                    cursor: pointer;
                }

                .hostings_card:hover {
                    transform: scale(1.02);
                }

                .hostings_card_figure {
                    margin: 0;
                }
                
                .hostings_card_figure_image {
                    height: 115px;
                    width: 100%;
                    border-radius: 16px 16px 0 0;
                }

                .star_on {
                    color: #0065fc;
                }
                  
                .star_off {
                    color: #d9d9d9;
                }

                .hostings_viewmore {
                    display: block;
                    font-weight: bold;
                    padding-top: 16px;
                  }

            /* Most popular */
            .hostings_card_popular {
                background-color: #fff;
                padding: 6px;
                border-radius: 20px;
                cursor: pointer;
            }

            .hostings_popular_articles {
                display: grid;
                row-gap: 32px;
                grid-template-rows: 150px 150px 150px;
            }  

            .hostings_popular_title {
                display: flex;
                justify-content: space-between;
            }

                /* Article */
                .popular_card {
                    display: flex;
                    height: 100%;
                } 

   
                .hostings_popular_card_image {
                    border-radius: 16px 0 0 16px;
                    width: 125px;
                    height: 100%;
                }
     