body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* Header */
.header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding-top: 16px;
}

.logo {
  grid-area: logo;
  height: 50px;
  width: 100px;
}

.nav {
  display: flex;
  grid-area: navbar;
}

.navlink {
  display: block;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
  text-align: center;
}

.navlink:hover {
  color: #0065fc;
}

.signup {
  grid-area: button;
  color: #fc3b00;
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: none;
}

/* Header responsive */
@media all and (min-width: 1101px) {
  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }

  .logo {
    padding-left: 50px;
  }

  .navlink {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .navlink[data-active="true"] {
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }

  .navlink:hover {
    border-top: 3px solid #0065fc;
  }

  .signup {
    padding-left: 35px;
    padding-right: 70px;
  }
}

@media all and (max-width: 1100px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }

  .logo {
    padding-left: 16px;
  }

  .navlink {
    border-bottom: 3px solid #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }

  .navlink[data-active="true"] {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .navlink:hover {
    border-bottom: 3px solid #0065fc;
  }

  .signup {
    padding-right: 16px;
  }
}

/* Main */
.main {
  max-width: 1440px;
  margin: auto;
}
/* Main title */
.main_title_1 {
  font-size: 24px;
}

.main_subtitle {
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
}

/* Main title responsive*/
@media all and (min-width: 1101px) {
  .main_title_1 {
    margin-top: 0;
    padding-left: 50px;
    padding-right: 16px;
  }
  .main_subtitle {
    padding-left: 50px;
  }
}

@media all and (max-width: 1100px) {
  .main_title_1 {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .main_subtitle {
    padding-left: 16px;
  }
}

/* Main search */
.main_search {
  display: flex;
}

.map_marker_icon {
  background-color: #f2f2f2;
  padding: 16px 20px;
  border-radius: 16px 0 0 16px;
}

.input_search {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 16px 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.button_search {
  background-color: #0065fc;
  color: #ffff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 16px 20px;
  cursor: pointer;
}

/* Main search responsive*/
@media all and (min-width: 1101px) {
  .form_icon {
    display: none;
  }
  .button_search {
    border-radius: 0 16px 16px 0;
  }
  .main_search {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 16px;
  }
}
@media all and (max-width: 1100px) {
  .input_search {
    width: 100%;
  }
  .text_search {
    display: none;
  }
  .button_search {
    border-radius: 16px 16px 16px 16px;
  }
  .main_search {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
  }
}

/* Main filter */
.main_filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title_filter {
  font-size: 20px;
  margin-right: 30px;
}

.buttons_filter {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 30px;
  border: 2px solid #d9d9d9;
  border-radius: 32px;
  font-weight: bold;
  cursor: pointer;
}

.buttons_filter:hover {
  background-color: #f3f8ff;
  transform: scale(1.02);
}

.icons_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 32px;
  background-color: #deebff;
  cursor: pointer;
}

.icon_m {
  color: #0065fc;
}

.buttons_description {
  margin-left: 14px;
  margin-right: 20px;
}

/* Main filter responsive */
@media all and (max-width: 1100px) {
  .title_filter {
    width: 100%;
  }
  .main_filter {
    margin-top: 10px;
    padding-left: 16px;
  }
}

@media all and (min-width: 1101px) {
  .title_filter {
    margin-bottom: 30px;
  }
  .main_filter {
    margin-top: 30px;
    padding-left: 62px;
  }
}

/* Main number result */
.number_result {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.icon_result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  min-width: 24px;
  border-radius: 12px;
  border: solid 1px #deebff;
  margin-right: 16px;
}

.icon_result_m {
  color: #0065fc;
}

/* Main number result responsive */
@media all and (max-width: 1100px) {
  .number_result {
    padding-left: 16px;
  }
}

@media all and (min-width: 1101px) {
  .number_result {
    padding-left: 58px;
  }
}

/* Main hostings with responsive*/
@media all and (min-width: 1381px) {
  #main_hostings {
    padding: 0 50px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 2fr 1fr;
  }
}

@media all and (max-width: 1380px) {
  #main_hostings {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

/* Hostings with responsive*/

.hostings_header_title {
  margin-top: 0;
  margin-bottom: 32px;
}

@media all and (min-width: 901px) and (max-width: 1380px) {
  .hostings_articles {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
  }
  .hostings {
    padding: 40px 16px 0px 16px;
  }
}

@media all and (max-width: 900px) {
  .hostings_articles {
    display: grid;
    row-gap: 32px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
  }

  .hostings {
    padding: 40px 16px 0px 16px;
  }
}

@media all and (min-width: 1381px) {
  .hostings {
    background-color: #f2f2f2;
    border-radius: 24px;
    padding: 40px;
  }

  .hostings_articles {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
  }
}

/* Article */
.hostings_card {
  background-color: #fff;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #0000002e;
}

.hostings_card:hover {
  transform: scale(1.02);
}

.hostings_card_figure {
  margin: 0;
}

.hostings_card_figure_image {
  height: 115px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.star_on {
  color: #0065fc;
}

.star_off {
  color: #d9d9d9;
}

.hostings_card_figure_figurecaption_title,
.hostings_card_description,
.hostings_card_stars {
  margin: 4px;
}

.hostings_card_figure_figurecaption_title {
  font-size: 18px;
}

.hostings_card_description,
.hostings_card_stars {
  font-size: 14px;
}

.hostings_viewmore {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding-top: 35px;
}

/* Most popular */

.hostings_popular {
  background-color: #f2f2f2;
}

.hostings_card_popular {
  background-color: #fff;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #0000002e;
}

.hostings_card_popular:hover {
  transform: scale(1.02);
}

.hostings_popular_title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 32px;
}

.hostings_popular_card_title {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.hostings_popular_card_text,
.hostings_popular_card_star {
  font-size: 14px;
}

.hostings_popular_card_text {
  margin-top: 6px;
  margin-bottom: 40px;
}

/* Most popular responsive */

@media all and (min-width: 1381px) {
  .hostings_popular_articles {
    display: grid;
    row-gap: 32px;
    grid-template-rows: 150px 150px 150px;
  }

  .hostings_popular {
    border-radius: 24px;
    padding: 40px;
  }
}

@media all and (min-width: 1101px) and (max-width: 1380px) {
  .hostings_popular_articles {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
  }

  .hostings_popular {
    grid-row-start: 1;
    padding: 32px 16px;
  }
}

@media all and (max-width: 1100px) {
  .hostings_popular_articles {
    display: grid;
    row-gap: 32px;
    grid-template-rows: 150px 150px 150px;
  }

  .hostings_popular {
    grid-row-start: 1;
    padding: 32px 16px;
  }
}

/* Article */
.popular_card {
  display: flex;
  height: 100%;
}

.hostings_popular_card_image {
  border-radius: 16px 0 0 16px;
  width: 125px;
  height: 100%;
  object-fit: cover;
}

.hostings_popular_card_content {
  padding-left: 20px;
  padding-right: 20px;
}

/* Main activities */

#main_activities {
  margin: 45px 0;
}

.main_activities_title {
  grid-column: 1/-1;
}

/* Main activities responsive*/

@media all and (max-width: 900px) {
  #main_activities {
    display: grid;
    grid-template-rows: auto 190px 190px 190px 190px 190px 190px;
    row-gap: 32px;
    padding: 0 16px;
  }
  .main_activities_title {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

@media all and (min-width: 901px) and (max-width: 1380px) {
  #main_activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 224px 40px 40px 160px;
    column-gap: 32px;
    padding: 0 16px;
  }
}

@media all and (min-width: 1381px) {
  #main_activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 224px 40px 40px 160px;
    column-gap: 32px;
    padding: 0 50px;
  }
}

/* Article */
.main_actitivties_card {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main_actitivties_card:hover {
  transform: scale(1.02);
}

.main_activities_grid {
  position: relative;
  flex: 1;
}

.main_activities_image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_activities_card_title {
  margin: 20px 24px;
  font-size: 18px;
}

/* Article responsive*/
@media all and (min-width: 901px) {
  .card_1 {
    grid-row: 2/6;
    grid-column: 1/2;
  }

  .card_2 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .card_3 {
    grid-column: 3/4;
    grid-row: 2/6;
  }
  .card_4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .card_5 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .card_6 {
    grid-column: 4/5;
    grid-row: 4/6;
  }
}

/* Footer */
footer {
  background: #f2f2f2;
  max-width: 1440px;
  margin: auto;
}

footer li {
  list-style-type: none;
}

.main_footer {
  display: flex;
}

.list_subpart_detail {
  display: block;
  margin-top: 12px;
}

.list_subpart {
  padding: 0 0;
}

/* Footer responsive*/
@media all and (min-width: 701px) {
  .main_footer {
    padding: 32px 50px;
  }
  .subpart {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .main_footer {
    flex-direction: column;
    padding: 32px 24px;
  }
}
