body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/* Header */
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logo {
    grid-area: logo;
    height: 45px;
    width: 97px;
}

.nav {
    display: flex;
    grid-area: navbar;
}

.navlink {
    padding-left: 46px;
    padding-right: 46px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.navlink:hover {
    color: #0065fc;
}

.signup {
    grid-area: button;
    padding: 35px;
    color: #0065fc;
    font-weight: 600;
}

a {
    color: #000;
    text-decoration: none;
}

/* Responsive header */
@media all and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }

    .logo {
        padding: 0 0;
    }

    .navlink {
        padding-top: 32px;
        padding-bottom: 32px;
      }

    .navlink:hover {
      border-top: 3px solid #0065fc;
    }
}
    
@media all and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
   
    .navlink {
      border-bottom: 3px solid #f2f2f2;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 100%;
    }

    .logo {
        padding: 0 35px;
        }
  
    .navlink:hover {
      border-bottom: 3px solid #0065fc;
    }
  }

/* Main */

.main {
    max-width: 1440px;
    margin: auto;
}
     /* Main title */
    .main_title_1 {
        padding: 0 16px;
        font-size: 22px;
    }

    .main_subtitle {
        padding: 0 16px;
        margin: 10px 0;
    }

    h1 {
        font-weight: bold;
    }

     /* Main title responsive*/
    @media all and (min-width: 601px) {
        .main_title_1 {
            margin: 0 0;
        }
    }
    
    @media all and (max-width: 600px) {
        .main_title_1 {
            display: block;
            margin-top: 40px;
        }
    }
        
    /* Main search */
    .main_search {
        padding: 0 16px;
        display: inline-flex;
        margin-top: 16px;
    }    

    .map_marker_icon {
        background-color: #f2f2f2;
        padding: 16px 20px;
        border-radius: 16px 0 0 16px;
    }
    
    .input_search {
        border-right: none;
        border-left: none;
        border-top: #f2f2f2 1px solid;
        border-bottom: #f2f2f2 1px solid;
        padding: 16px 20px;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

      .button_search {
        background-color: #0065fc;
        color: #ffff;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding: 16px 20px;
        cursor: pointer;
        }
   
    /* Main search responsive*/
    @media all and (min-width: 601px) {
        .form_icon {
            display: none;
        }
        .button_search {
            border-radius: 0 16px 16px 0;
        }
        .input_search {
            width: 200px;
        }
    }
    @media all and (max-width: 600px) {
        .input_search {
            width: 100%;
        }
        .text_search {
            display: none;
        }
        .button_search {
            border-radius: 16px 16px 16px 16px;
        }
    }
   
    /* Main filter */
    .main_filter {
        padding: 0 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 16px;
    }


    .title_filter {
        margin-right: 20px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .buttons_filter {
        display: flex;
        align-items: center;
        margin-right: 12px;
        margin-bottom: 16px;
        border: 2px solid #d9d9d9;
        border-radius: 32px;
        font-weight: bold;
        cursor: pointer;
    }
   
    .buttons_filter:hover {
        background-color: #f3f8ff;
        transform: scale(1.02);
      }

    .icons_filter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px; 
        width: 48px;
        border-radius: 32px;
        background-color: #deebff;
        cursor: pointer;
    }  

    .icon_m {
        color: #0065fc;
    } 

    .buttons_description {
        margin: 0 14px;
    }   

    /* Main filter responsive */
    @media all and (max-width: 414px) {
        .title_filter {
            width: 100%;
        }
    }

        /* Main number result */
        .number_result {
            padding: 0 16px;
            display: flex;
            align-items: center;
        }
    
        .icon_result {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            border: solid 1px #deebff;
            margin-right: 16px;
          }
    
          .icon_result_m {
            color: #0065fc;
          }
        
          /* Main hostings with responsive*/
          @media all and (min-width: 1381px) {
            #main_hostings {
                padding: 0 16px;
                display: grid;
                column-gap: 40px;
                grid-template-columns: 2fr 1fr;
                }
          }

          @media all and (max-width: 1380px) {
            #main_hostings {
                display: grid;
                row-gap: 40px;
                grid-template-rows: 1fr auto;
                }
          }

            /* Hostings with responsive*/

                @media all and (min-width: 901px) {
                .hostings_articles {
                    display: grid;
                    column-gap: 32px;
                    row-gap: 32px;
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .hostings {
                    background-color: #f2f2f2;
                    border-radius: 24px;
                    padding: 40px;
                }
            }

            @media all and (max-width: 900px) {
                    .hostings_articles {
                        display: grid;
                        row-gap: 32px;
                        grid-template-rows: repeat (6, 1fr);
                    }
                    
                    .hostings {
                       margin: 16px;
                    }
            }

                 /* Article */
                 .hostings_card {
                    background-color: #fff;
                    padding: 6px;
                    border-radius: 20px;
                    cursor: pointer;
                    box-shadow: 0 0 20px #0000002e;
                }

                .hostings_card:hover {
                    transform: scale(1.02);
                }

                .hostings_card_figure {
                    margin: 0;
                }
                
                .hostings_card_figure_image {
                    height: 115px;
                    width: 100%;
                    border-radius: 16px 16px 0 0;
                    object-fit: cover;
                }

                .star_on {
                    color: #0065fc;
                }
                  
                .star_off {
                    color: #d9d9d9;
                }

                .hostings_card_figure_figurecaption_title, .hostings_card_description, .hostings_card_stars {
                padding-left: 8px;
                }

                .hostings_viewmore {
                    display: block;
                    font-weight: bold;
                    padding-top: 16px;
                  }

            /* Most popular */

            .hostings_popular {
                background-color: #f2f2f2;
            }

            .hostings_card_popular {
                background-color: #fff;
                padding: 6px;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 0 0 20px #0000002e;

            }

            .hostings_card_popular:hover {
                transform: scale(1.02);
            }

            .hostings_popular_articles {
                display: grid;
                row-gap: 32px;
                grid-template-rows: 150px 150px 150px;
            }  

            .hostings_popular_title {
                display: flex;
                justify-content: space-between;
            }

            /* Most popular responsive */

            @media all and (min-width: 1381px) {
                .hostings_popular {
                    padding: 0 16px;
                    border-radius: 24px;
                    padding: 40px;
                    }
            }

            @media all and (max-width: 1380px) {
                .hostings_popular {
                    grid-row-start: 1;
                    padding: 20px;
                }
            }
            
                /* Article */
                .popular_card {
                    display: flex;
                    height: 100%;
                } 

                .hostings_popular_card_image {
                border-radius: 16px 0 0 16px;
                width: 125px;
                height: 100%;
                object-fit: cover;
                }

                .hostings_popular_card_content {
                    padding-left: 16px;
                }
                

     /* Main activities */

    #main_activities {
        padding: 0 16px;
        margin: 64px 0;
      }
    .main_activities_title {
        grid-column: 1/-1;
    }

     /* Main activities responsive*/
     
     @media all and (max-width: 900px) {
        #main_activities {
            display: grid;
            grid-template-rows: 40px 190px 190px 190px 190px 190px 190px;
            row-gap: 32px;
        }
     }

     @media all and (min-width: 901px) {
        #main_activities {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 224px 40px 40px 160px;
            column-gap: 32px;
        }
    }

        /* Article */

        .main_actitivties_card {
            box-shadow: 0 0 16px #0000002e;
            border-radius: 16px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .main_actitivties_card:hover {
            transform: scale(1.02);
        }

        .main_activities_grid {
            position: relative;
            flex: 1;
          }

          .main_activities_image {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .main_activities_card_title {
            margin: 20px 24px;
          }

        /* Article responsive*/
        @media all and (min-width: 901px) {
            .card_1 {
                grid-row: 2/6;
                grid-column: 1/2;
            }


            .card_2 {
                grid-column: 2/3;
                grid-row: 2/4;
            }
            .card_3 {
                grid-column: 3/4;
                grid-row: 2/6;
            }
            .card_4 {
                grid-column: 4/5;
                grid-row: 2/3;
            }
            .card_5 {
                grid-column: 2/3;
                grid-row: 5/6;
            }
            .card_6 {
                grid-column: 4/5;
                grid-row: 4/6;
            }
        }


/* Footer */
footer {
    background: #f2f2f2;
    width: 100%;
}

footer li {
    list-style-type: none;
}

.main_footer {
    display: flex;
    width: 1440px;
    margin: auto;
    padding: 32px 0;
}

.subpart {
    width: 30%;
    }

footer h3 {
    padding: 0 32px;
}

.list_subpart {
    padding: 0 32px;
}

.list_subpart_detail{
    display: block;
    margin-top: 12px;
}

/* Footer responsive*/
@media all and (max-width: 700px) {
    .main_footer {
    flex-direction: column;
}